@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }


    .top {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;


        &__title {
            width: 343px;
            font-weight: 700;
            font-size: 32px;
            line-height: 39px;
            color: #FFFFFF;
            display: flex;
            align-items: center;
            text-align: center;
        }

        &__subtitle {
            width: 343px;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
            color: #FFFFFF;
            display: flex;
            text-align: center;
            flex-wrap: wrap;
            justify-content: center;
        }

        &__send {
            display: flex;
            justify-content: center;
        }

        &__btn {
            text-align: center;
        }
    }

    .game {
        justify-content: center;

        &__img {
            width: 343px;
        }
    }

}